/* SETUP */
@mixin constantColors {
  --primary-1: #2c3333;
  --primary-2: #395b64;
  --primary-3: #a5c9ca;
  --primary-4: #e7f6f2;
  --success: #377d71;
  --warning: #fed049;
  --error: #e43f5a;
  --info: #30aadd;
}

:root {
  --primary-1: #2c3333;
  --primary-2: #395b64;
  --primary-3: #a5c9ca;
  --primary-4: #e7f6f2;
  --success: #377d71;
  --warning: #fed049;
  --error: #e43f5a;
  --info: #30aadd;

  --page-bgc-light: var(--primary-4);
  --font-color-light: var(--primary-1);
  --page-bgc-dark: var(--primary-1);
  --font-color-dark: var(--primary-4);
  --btn-bgc: var(--primary-2);
  --btn-color: var(--primary-4);

  --font-family: "Roboto", sans-serif;
  --base-font-size: 1.4rem;
  --transition-time: 0.3s;
}

@mixin darkColorsSchema {
  --page-bgc: var(--page-bgc-dark);
  --font-color: var(--font-color-dark);
}

@mixin lightColorsSchema {
  --page-bgc: var(--page-bgc-light);
  --font-color: var(--font-color-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    @include darkColorsSchema;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    @include lightColorsSchema;
  }
}

[color-scheme="dark"] {
  @include darkColorsSchema;
}

[color-scheme="light"] {
  @include lightColorsSchema;
}

/* Base styles */

html {
  font-family: var(--font-family);
  font-size: 10px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  min-height: 100vh;
  background-color: var(--page-bgc);
  color: var(--font-color);
}

#app {
  width: 100%;
  min-height: 100vh;
}
